div[id^="window"] {
  position: absolute;
  z-index: 2;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

iframe {
    display:block;
    width:100%;
    height:100%;
}

div[id^="domtitle"] {
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
  position: relative;
  left: 0;
  bottom: 0;
  width: 97.5%;
}